<div class="loading fixed">
	
  <div id="divFondoWait" style=""></div>
  <div style="opacity: 1; z-index: 10002">
    <div class="">
      <div class="col s12 contenedorLoading">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="col s12 m6 l2 offset-m3 offset-l5 center" id="textoLoading">
          <div class="center" id="subTextoWait"></div>
        </div>
      </div>
      <div class="col s12 separator"></div>
      <button type="button" id="cerrarWait" class="btn transparent close" data-dismiss="modal" style="bottom: 0px"><span style="font-size: 16px">Cerrar</span> <i class="fa fa-times" style="color: white"></i></button>
    </div>
  </div>
</div>